@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

#root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 189, 255, 1) 0%, rgba(0, 1, 254, 1) 100%);
}